*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,Helvetica,sans-serif;
}

body{

background:#f5f5f5;

display:flex;

justify-content:center;

align-items:center;

/* min-height:100vh; */

/* padding:30px; */

}

.container{

width:100vw;

/* max-width:100%; */

display:flex;

background:#fff;

box-shadow:0 10px 40px rgba(0,0,0,.1);

overflow:hidden;

/* border-radius:18px; */

}

/* LEFT */

.left-side{

width:40%;

position:relative;

background:url("../../assests/image1.jpeg") center/cover;

min-height:100vh;

}

.overlay{

position:absolute;

inset:0;

background:rgba(0,0,0,.55);

}

.left-content{

position:relative;

z-index:2;

color:#fff;

padding:35px;

height:100%;

display:flex;

flex-direction:column;

}

.logo{

display:flex;

align-items:center;

gap:10px;

margin-bottom:25px;

}

.logo img{

width:38px;

}

.badge{

display:inline-block;

width:max-content;

padding:8px 15px;

border-radius:30px;

background:#2F66D0;

font-size:10px;

margin-bottom:30px;

}

.left-content h1{

font-size:42px;

line-height:1.2;

margin-bottom:20px;

}

.left-content h1 span{

color:#2F66D0;

}

.left-content p{

line-height:1.8;

margin-bottom:30px;

}

.left-content ul{

padding-left:18px;

display:flex;

flex-direction:column;

gap:18px;

}

/* RIGHT */

.right-side{

width:60%;

display:flex;

justify-content:center;

align-items:center;

padding:60px;

}

.form-card{

width:420px;

}

.form-card h1{

font-size:40px;

margin-bottom:10px;

}

.form-card>p{

color:#666;

margin-bottom:45px;

}

.social-btn{

width:100%;

height:58px;

border:1px solid #ddd;

background:#fff;

margin-bottom:18px;

border-radius:10px;

display:flex;

justify-content:center;

align-items:center;

gap:15px;

font-size:16px;

cursor:pointer;

transition:.3s;
text-decoration: none;
color: #000;

}

.social-btn:hover{

border-color:#2F66D0;

}

.social-btn img{

width:25px;

}

.social-btn i{

font-size:25px;

}

.login-text{

margin-top:25px;

text-align:center;

}

.login-text a{

color:#2F66D0;

font-weight:600;

text-decoration:none;

}

/*  RESPONSIVE TABLET */

@media(max-width:992px){

.container{

flex-direction:column;

}

.left-side{

width:100%;

min-height:450px;

}

.right-side{

width:100%;

padding:50px 30px;

}

}

/* RESPONSIVE MOBILE */

@media(max-width:768px){

body{

padding:0;

}

.container{

border-radius:0;

}

.left-side{

display:none;

}

.right-side{

width:100%;

min-height:100vh;

padding:30px 20px;

}

.form-card{

width:100%;

}

.form-card h1{

font-size:32px;

text-align:center;

}

.form-card>p{

text-align:center;

font-size:15px;

}

.social-btn{

height:55px;

font-size:15px;

}

}