*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
}


.seeker-faqs-main{
    min-height: 100vh;
  background-color: #f5f5f5;
  padding-bottom: 10px;
  position: relative;
}

.seeker-faqs-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px 20px 80px;
    border-bottom: 1px solid #DDD9D9;
}

.seeker-faqs-header > .header-back-btn{
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 510;
    font-size: 22px;
    color: #948E8E;
    cursor: pointer;
}

.seeker-faqs-header .help-center-text{
    font-weight: 590;
    font-size: 36px;
    color: #111111;
}

.seeker-faqs-header .header-option-btn{
    border: none;
    background-color: transparent;
    font-size: 22px;
    font-weight: 510;
    color: #948E8E;
}

.after-header-section{
    padding: 40px 0 40px 80px;
}














/* How can we help? */

width: 317px;
height: 43px;

font-family: 'SF Pro';
font-style: normal;
font-weight: 1000;
font-size: 36px;
line-height: 43px;
/* identical to box height */

color: #111111;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
